@media only screen and (max-width: 600px){

	video{
		width:300px;
	}

}




.btn-primary{
	background-color: red
	border:none;
}

button{
	display:flex;
	justify-content: end;
}

#form{
	margin:;
	padding:;
}

.ch1{
	text-align: center;
}


.first{
	margin-top: 80px;
}

h2{
	text-align:center;
}



a,i{
	color:#e5d7d7;
}

a:hover{
	color:white;
}

i:hover{
	color:white;
}


.footerStyle{
	padding: 20px 0 30px 0;
}


.center{

text-align:center;


}

.imgCss{

	text-align:center;

}

img{
	width:300px;
	padding:5px;
	transition: all 1s;
}


img:hover{
	transform:scale(1.1);

}
