@media only screen and (max-width: 600px){

	video{
		width:380px;
	}
}

hr{
	width:90%;
}


.fa.fa-navicon{
	font-size:30px;
}


.jumbotron{
	
	background:linear-gradient(to bottom,#dc3545,white);

}


.jumbotron .signup{
	text-align: center;
	
}

.jumbotron hr{
	width:70%;
}

h2{
	margin:30px;
	text-align: center;
}

.first{
	margin-top: 74px;
	background-color:white;
}



a,i{
	color:#fce2e0;
}

a:hover{
	color:white;
	text-decoration: none;
}

i:hover{
	color:white;
}


.footerStyle{
	padding: 10px 0 20px 0;
}


.imgCss{

	text-align:center;
	padding:10px;

}


#menu{
	display:flex;
	padding:10px 30px;
	flex-flow:row wrap;
	justify-content: space-around
}




#menu .selection{
	width:300px;
	position:relative;
}

#menu .selection a{
	width:100%;
	color:black;

	
}

#menu .selection img{
	width:100%;
	
	transition: all 1s;
	padding:10px;
}


#menu .selection img:hover{
	transform:scale(1.1);

}

#menu .selection a:hover{

	color:#f29a98;
	text-decoration:underline; 

}

.center{

text-align:center;


}
video{
	padding:10px 5px 30px 30px;
}
